@font-face {
  font-family: 'Bebas';
  src: url('fonts/BebasNeue Bold.otf');
}

@font-face {
  font-family: 'BebasBold';
  src: url('fonts/BebasNeue  Bold.otf');
}

* {
  font-family: helvetica, sans-serif;
}

h1, h2 {
  text-align: center;
  font-family: Bebas, sans-serif;
  font-size: 300%
}

h3 {
  font-family: Bebas, sans-serif;
  font-size: 200%
}

body {
  color: #666666;
  background-color: DarkCyan;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.headerFooter {
  margin: auto;
  color: White;
  padding: 10px;
  max-width: 800px;
  text-align: center;
}

.loansApp {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  background-color: LightGreen;
  padding: 10px;
}

.roboDashApp {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  background-color: Pink;
  padding: 10px;
}

.review {
  color: #444444;
  background-color: #EEEEEE;
  padding: 10px;
  margin: 10px;
  font-style: italic;
  text-align: justify;
}
