* {
  font-family: helvetica, sans-serif;
}

body {
  color: #665544;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.headerFooter {
  background-color: DarkCyan;
  color: White;
  padding: 10px;
}

.loansApp {
  background-color: LightGreen;
  padding: 10px;
}

.roboDashApp {
  background-color: Pink;
  padding: 10px;
}

.review {
  background-color: #EFEFEF;
  padding: 10px;
  margin: 10px;
  font-style: italic;
  text-align: justify;
}
